<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
<div class="proprioHeader">
    <div class="imgBanner">
        <img src="../../assets/images/bg_1v2HD%20copie.png" alt="">
    </div>
    <div class="linksBanner">
        <a class="headerLogo" href="">
            <img class="logo" src="../../assets/images/logo-sl.png" alt="">
        </a>
        <a class="decoDashboard" href="">Déconnexion</a>
    </div>
</div>
<div class="container-fluid">
    <div class="dashboardLink">
        <ul>
            <li><a class="activeLink" href="#">Mes logements</a></li>
            <li><a href="#">Réservations</a></li>
            <li><a href="#">Demandes</a></li>
            <li><a href="#">Aides et documentation</a></li>
            <li><a href="#">Mon profil</a></li>
        </ul>
    </div>
    <div class="row propose justify-content-center">
        <a href="#" class="btn btn-warning text-white">Proposer un hébergement</a>
    </div>
    <div class="row cardRow">
        <div class="cardAppart">
           
            <div class="help">
                <p>Vous trouverez à ce lien des documents utiles (templates de contrat, informations sur les assurances, FAQ) pour vous accompagner: </p>
                <a href="" class="btn btn-outline-primary text-primary">
                    Dossier Google Drive <br> Aide et documentation
                </a>
            </div>
        </div>
        
    </div>
</div>

<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row ">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <p> &copy;<script>document.write(new Date().getFullYear());</script> Les Logements Solidaires</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-6">
              <li><a href="https://www.malt.fr/" ><img class="mb-4" src="../../assets/images/malt_logo.svg" alt="" width="150" ></a></li>
              <li><a href="https://www.lewagon.com/fr" ><img class="mb-4" src="../../assets/images/le-wagon-color.png" alt="" width="150" ></a></a></li>
             
            </ul>
          </div>
        </div>

        <div class="col-md">
        </div>
        
        <div class="col-md">
          <ul class="list-unstyled text alignend icon-footer" >
            <li><span><a href="#" class="fab fa-facebook" ></a></span></li>
          </ul>
          <ul class="list-unstyled text alignend">
            <li><a class="text" href="#">Mentions légales</a></li>
            <li><a class="text" href="#">Politique de confidentialité</a></li>
            <li><a class="text" href="#">Contact</a></li>
          </ul>
        </div>
        </div>
      </div>
      
      
    
  </footer>
</body>
</html>
<script src="https://kit.fontawesome.com/b9dea9cce1.js" crossorigin="anonymous"></script>