<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img class="mb-4" src="../../assets/images/logo-sl.png" alt=""
          width="200"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">

        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="" class="nav-link">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <div class="hero-wrap1" style="background-image: url('../../assets/images/bg_1v2HD%20copie.png');">
    <div class="overlay1"></div>
  </div>
  </div>


  <div class="container blogMenu" style="margin-top: 25px;">
    <div class="dashboardLink">
      <ul class="nav justify-content-center">

        <li class="nav-item">
          <a class="activeLink" class="" href="#">Mes logements</a>
        </li>
        <li class="nav-item">
          <a href="#">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="" href="#">Demande</a>
        </li>
        <li class="nav-item">
          <a class="" href="#">Aides et documentation</a>
        </li>
        <li class="nav-item">
          <a class="" href="#">Mon profil</a>
        </li>

      </ul>

    </div>
  </div>

  <section>
    <div class="container marketing color-back" style="margin-top:8rem;">
      <div class="row d-flex">
        <div class="col-md-12 col-lg-4 pl-lg-5 py-5">
          <div id="demo" class="carousel slide pointer-event" data-ride="carousel">
            
    
            <!-- Carrousel -->
            <div class="carousel-inner">
              <div class="carousel-item imgCircle">
                <div style="background-image:url('https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block " >
                  <a class="text-blue" href=""><i class="fas fa-plus-circle fa-2x"></i></a>
                </div>
              </div>
              <div class="carousel-item active">
                <div style="background-image:url('https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block text-dark">
                
                </div>
              </div>
              <div class="carousel-item ">
                <div style="background-image:url('https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block text-dark">
                
                </div>
              </div>
              <div class="carousel-item">
                <div style="background-image:url('https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
              <div class="carousel-item">
                <div style="background-image:url('https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg');" class="d-block  image-cara"></div>
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
  <!-- Contrôles -->
            <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>

            </div>
    
          
       
        </div>
        <div class="col-md-4 col-lg-4 pl-lg-5 py-4">
          <div class="py-md-0">
            
          </div>
          </div>
        <div class="col-md-12 col-lg-4 pl-lg-5 py-5  text-right">
        <div class="py-md-5">
          <div class="row  pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <div class="pictos">
                <input type="submit" class="btn btn-outline-warning py-1 px-3 m-2 radius" value="Enregistrer les modificationss">
                <a href="" class="pictoDelete">
                  <i class="fas fa-trash-alt fa-2x"></i>
                </a>
              </div>
          </div>
          </div>
        </div>
        </div>
        
      <div class="row d-flex">
        <div class="col-md-6 col-lg-4 pl-lg-5 ">
        <div class="img d-flex align-self-stretch align-items-end  p-2">
          <div class="form-group row formborder">
            <label for="example-date-input" class="col-lg-4 col-sm-10 col-form-label type4">Adresse :</label>
            <div class="col-lg-8 col-sm-10">
              <input type="text" class="form-control " placeholder="75 rue National 94000 Paris" name="adresse">
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-6 col-lg-4 pl-lg-5 ">
        <div class="p-2">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
              <div class="form-group row formborder">
                <label for="example-date-input" class="col-lg-4 col-sm-10 col-form-label type4">Type :</label>
                <div class="col-lg-8 col-sm-10">
                  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option value="studio">Studio</option>
                    <option value="appartement">Appartement</option>
                    <option value="maison">Maison</option>
                    <option value="hotel">Hôtel</option>
                  </select>
                </div>
              </div>
              <div class="form-group row formborder">
                <label for="example-date-input" class="col-lg-6 col-sm-10 col-form-label type4">Nb de chambre :</label>
                <div class="col-lg-6 col-sm-10">
                  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
              </div>
          </div>
          </div>
        </div>
        </div>
        <div class="col-md-12 col-lg-4 pl-lg-5 ">
          <div class="p-2">
            <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                <div class="form-group row formborder">
                  <label for="example-date-input" class="col-lg-4 col-sm-10 col-form-label type4">Description </label>
                  <div class="col-lg-8 col-sm-10">
                    <textarea class="form-control" id="exampleTextarea" placeholder="Texte" rows="5"></textarea>
                  </div>
                </div>
            </div>
          </div>
          </div>
      </div>
</div>
  </section>


  <div class="margintop"></div>
  


    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row ">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <p> &copy;<script>
                  document.write(new Date().getFullYear());
                </script> Les Logements Solidaires</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-6">
                <li><a href="https://www.malt.fr/"><img class="mb-4" src="../../assets/images/malt_logo.svg" alt=""
                      width="150"></a></li>
                <li><a href="https://www.lewagon.com/fr"><img class="mb-4" src="../../assets/images/le-wagon-color.png"
                      alt="" width="150"></a></a></li>

              </ul>
            </div>
          </div>

          <div class="col-md">
          </div>

          <div class="col-md">
            <ul class="list-unstyled text alignend icon-footer">
              <li><span><a href="#" class="fab fa-facebook"></a></span></li>
            </ul>
            <ul class="list-unstyled text alignend">
              <li><a class="text" href="#">Mentions légales</a></li>
              <li><a class="text" href="#">Politique de confidentialité</a></li>
              <li><a class="text" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>



    </footer>
    <script src="https://kit.fontawesome.com/b9dea9cce1.js" crossorigin="anonymous"></script>
    <script src="../../assets/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
