<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img class="mb-4" src="../../assets/images/logo-sl.png" alt="" width="200" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="" class="nav-link">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
  <div class="hero-wrap1" style="background-image: url('../../assets/images/bg_1v2HD%20copie.png');" >
    <div class="overlay1"></div>
    </div>
  </div>

  <div class="container blogMenu" style="margin-top: 25px;">
    <div class="dashboardLink">
        <ul class="nav justify-content-center" >
          <li class="nav-item">
            <a class="" href="#">Recherche de logements</a> 
          </li>
          <li class="nav-item">
            <a class="" href="#">Demandes</a>
          </li>
          <li class="nav-item">
            <a class="" href="#">Mes réservations</a>
          </li>
          <li class="nav-item">
            <a class="activeLink" href="#">Aides et documentation</a>
          </li>
          <li class="nav-item">
            <a class="" href="#">Mon profil</a>
          </li>
        </ul>
      </div>
  </div>






  
 

    <div class="container-fluid">
        <div class="col-12">
            <div class="row cardRow">
              <div class="col-8 " style="margin-left: 150px;">
                <h6 class="mb-4 type1">Vous trouverez à ce lien des documents utiles (tremplate de contact, informations sur les assurances, FAQ ) pour vous acompagner :</h6>
              </div>      
                
                </div>
                <div class="row propose justify-content-center">
                  <a href="#" class="btn btn-warning text-white">Dossier Google Drive <br> Aide et documentation</a>
              </div>
            </div>
        </div>


       <div class="margintop">

       </div>
   
    
   

<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row ">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <p> &copy;<script>document.write(new Date().getFullYear());</script> Les Logements Solidaires</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-6">
              <li><a href="https://www.malt.fr/" ><img class="mb-4" src="../../assets/images/malt_logo.svg" alt="" width="150" ></a></li>
              <li><a href="https://www.lewagon.com/fr" ><img class="mb-4" src="../../assets/images/le-wagon-color.png" alt="" width="150" ></a></a></li>
             
            </ul>
          </div>
        </div>

        <div class="col-md">
        </div>
        
        <div class="col-md">
          <ul class="list-unstyled text alignend icon-footer" >
            <li><span><a href="#" class="fab fa-facebook" ></a></span></li>
          </ul>
          <ul class="list-unstyled text alignend">
            <li><a class="text" href="#">Mentions légales</a></li>
            <li><a class="text" href="#">Politique de confidentialité</a></li>
            <li><a class="text" href="#">Contact</a></li>
          </ul>
        </div>
        </div>
      </div>
      
      
    
  </footer>
</body>
</html>
<script src="https://kit.fontawesome.com/b9dea9cce1.js" crossorigin="anonymous"></script>