<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
<div class="proprioHeader">
    <div class="imgBanner">
        <img src="../../assets/images/bg_1v2HD%20copie.png" alt="">
    </div>
    <div class="linksBanner">
        <a class="headerLogo" href="">
            <img class="logo" src="../../assets/images/logo-sl.png" alt="" width="200px;">
        </a>
        <a class="decoDashboard" href="">Déconnexion</a>
    </div>
</div>


  <div class="container blogMenu" style="margin-top: 25px;">
    <div class="dashboardLink">
        <ul class="nav justify-content-center" >
          <li class="nav-item">
            <a class="" href="#">Recherche de logements</a> 
          </li>
          <li class="nav-item">
            <a class="" href="#">Demandes</a>
          </li>
          <li class="nav-item">
            <a class="" href="#">Mes réservations</a>
          </li>
          <li class="nav-item">
            <a class="" href="#">Aides et documentation</a>
          </li>
          <li class="nav-item">
            <a class="activeLink" href="#">Mon profil</a>
          </li>
        </ul>
      </div>
  </div>






  
 

    <div class="container-fluid">
        <div class="col-12">
            <div class="row cardRow">    
                <div class="cardAppart ">           
                  <div class="row mb-3 padding1">
                    <div class="col-md-8 themed-grid-col">
                      <div class="row">
                        <div class="col-md-10 themed-grid-col"> 
                          <form action="" method="post">
                          <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Nom :</label>
                            <div class="col-10">
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Ville" name="ville">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Prénom :</label>
                            <div class="col-10">
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Ville" name="ville">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Adresse mail :</label>
                            <div class="col-6">
                              <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Numéro de téléphone :</label>
                            <div class="col-10">
                              <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Description :</label>
                            <div class="col-10">
                              <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 themed-grid-col">
                    <a href="#" class="btn btn-danger text-white">SOS</a>
                  <br>
                  <div>
                    <a href="#" class="btn btn-warning text-white">Enregistrer les modifications</a>
                  </div>
                  
                  </div>
                </form>
                  </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
   
   

<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row ">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <p> &copy;<script>document.write(new Date().getFullYear());</script> Les Logements Solidaires</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-6">
              <li><a href="https://www.malt.fr/" ><img class="mb-4" src="../../assets/images/malt_logo.svg" alt="" width="150" ></a></li>
              <li><a href="https://www.lewagon.com/fr" ><img class="mb-4" src="../../assets/images/le-wagon-color.png" alt="" width="150" ></a></a></li>
             
            </ul>
          </div>
        </div>

        <div class="col-md">
        </div>
        
        <div class="col-md">
          <ul class="list-unstyled text alignend icon-footer" >
            <li><span><a href="#" class="fab fa-facebook" ></a></span></li>
          </ul>
          <ul class="list-unstyled text alignend">
            <li><a class="text" href="#">Mentions légales</a></li>
            <li><a class="text" href="#">Politique de confidentialité</a></li>
            <li><a class="text" href="#">Contact</a></li>
          </ul>
        </div>
        </div>
      </div>
      
      
    
  </footer>
</body>
</html>
<script src="https://kit.fontawesome.com/b9dea9cce1.js" crossorigin="anonymous"></script>